/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background: var(--secondary);
}

section {
  max-width: 90vw;
}

a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.7em 1.4em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--primary);
    border-color: var(--primary);
  }
}


/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties */

  /* LINK 1 - Changing color */
    
    *:focus {/* De focus is er voor de gebruiksvriendelijksheid van het gebruiken van het toetsenbord. Wanneer er geen focus is, kan de link als normaal element beschouwd worden. Doordat de outline op none staat zie je geen lijn om de knop heen wanneer het element is geselecteerd */
      outline: none;
      ;
    }

    .color-btn{
      background-color: #000000;
      border: none;
      color: white;
      text-decoration: none;
      display: inline-block;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }

    .color-btn:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

  /* LINK 2 - Filling heart */

  @keyframes shake {  /* Naam animatie */
    10%, 90% {
      transform: translate(-1px, 0); /* translate3d zorgt ervoor dat het element door de ruimte kan verplaatsen, de volgorde is (x, y, z) */
    }
    
    20%, 80% {
      transform: translate(2px, 0);
    }
    
    30%, 50%, 70% {
      transform: translate(-4px, 0);
    }

    40%, 60% {
      transform: translate(4px, 0);
    }
  }

  /* class om de shake animatie toe te voegen via javascript */
  .shake{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }

  /* LINK 3 - Fill */

  .fill-btn{
    background: linear-gradient( to left, #050840 50%, #7ce7c9 50%);
    background-size: 200% 100%;

    transition: all ease .3s;
    background-position: right top;
  }

  .fill{
    background-position: left top;
    color: #050840;
    border: #7ce7c9;
    &:hover,
  &:focus {
    color: #050840
  }
  }

    /* LINK 4 - Hide */

    .vanish{
      opacity: 1;
    }

    .fadeOut {
      animation: fadeOut 1s;
    }

    @keyframes fadeOut{
      from { opacity: 1;}
      to { opacity: 0;}
    }
    

    /* LINK 5 - Pink */

    .light-mode{
      background-color: #d0d3ff;
    }
  

  /* LINK 6 - Hide */

  .duck-img{
    width: 1.5rem;
  }

/* LINK 7 - Smaller */

  .smaller1 {
    width: 5rem;
    height: 2.5rem;
    font-size: 14px;
    text-align: center;
  }

  .smaller2 {
    width: 4rem;
    height: 2rem;
    font-size: 12px;
    text-align: center;
  }

  .smaller3 {
    width: 1rem;
    height: 0.5rem;
    font-size: 2px;
    text-align: center;
  }



  .rotate {
    animation-name: rotate;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg)
    }
  
    to {
      transform: rotate(360deg)
    }
  }



  .float {
    animation-name: float;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
  }

  @keyframes float {
    from {
      transform: translate(0px, 0);
    }
  
    to {
      transform: translate(0px, -20px);
      box-shadow: 2px 34px 37px -20px #7ce7c9;
    }
  }