/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background: var(--secondary);
}

section {
  max-width: 90vw;
}

a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.7em 1.4em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--primary);
    border-color: var(--primary);
  }
}


/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties */

  /* LINK 1 - Changing color */
    
    *:focus {/* De focus is er voor de gebruiksvriendelijksheid van het gebruiken van het toetsenbord. Wanneer er geen focus is, kan de link als normaal element beschouwd worden. Doordat de outline op none staat zie je geen lijn om de knop heen wanneer het element is geselecteerd */
      outline: none;
      ;
    }

    .color-btn{
      background-color: #000000;
      border: none;
      color: white;
      text-decoration: none;
      display: inline-block;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }

    .color-btn:hover {
      box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

  /* LINK 2 - Filling heart */
    
    .heart-btn{
      width: 50px;
      height: 50px;
      position: fixed;
      border: none;
      background: none;
    }

    .active#heart:before,.active#heart:after{
      background: red !important;
    }

    #heart{
      width: 100px;
      height: 90px;
      transition: background 0.5s ease;
    }

    #heart:before, #heart:after{
      transition: background 0.5s ease;
      position: absolute;
      content:"";
      left: 50px;
      top: 0;
      width: 50px;
      height: 80px;
      background: dimgrey;
      border-radius: 50px 50px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0% 100%;
    }

    #heart:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%;
    }